<div ng-app="myApp" ng-controller="check">
    <button id='1' ng-click="count(1)">Click me!</button>
    <label>Total Count : {{counter}}</label>
</div>

var app = angular.module("myApp", []);
app.controller('check', function ($scope) {
    $scope.counter = 0;
    $scope.count = function (inc) {
        $scope.counter += inc;
    };
});
